* {
    box-sizing: border-box;
}



[class*="col-"] {
    float:left;
    padding: 15px;
}

body {

    font-family: "Lucida Sans", sans-serif;
    background-color:#33b5e5;
    margin-top: 30px;
    margin-bottom: 30px;
    color:#000;
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}



table {
    border: 30px solid  #000080;
    padding:10px;
    background-color: #FFFAF0;

}

td{
    padding: 10px;
}




h2  {

     line-height: 1.3em; color: #c11c1e;
     font-family: "Times New Roman", Times, serif;
     font-size: 25px; 
     text-align: center; 
     font-weight: 900;
     margin-top: 20px;
     margin-right: 0;
     margin-bottom: 10px; 
     margin-left: 0; 
     padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0;
     background-color: #FFFAF0;
     
   }

h3{

    font-family: "Times New Roman", Times, serif;
     font-weight: 900;
    font-size: 22px;
    color: #00008B;
    margin-top: 0;
    margin-top: 10px;
}
    
p    {

    color: #000; 
   font-family: "Times New Roman", Times, serif;
   font-weight: bold;
   font-size: 16px;
    text-align: left;     
    font-weight: bold;
    

}

p.normal {

    color: #c11c1e;
    font-family: "Times New Roman" Times, serif; 
    font-size: 18px; 
 }

ol.points {
    color:#000;
    font-family: "Times New Roman", Times, serif;
    font-size: 18px; 
    font-weight: normal;
    margin: 10px;



}

